{% extends 'index.html.twig' %} 



{% block content %}

    {% for film in films %}
   
    <div class="container d-flex flex-column flex-sm-column flex-md-column flex-lg-row mb-5"> 
        <div  class="image col-12 col-sm-12 col-md-12 col-lg-4" style="background: url({{film.image_film}}); background-size: auto; background-repeat: no-repeat;
                background-position: center;
                height: 500px; margin:0;">
            </div>
        <section id="fiche" class="contenu col-12 col-sm-12 col-md-12 col-lg-8">
            <div>
                <h2>{{film.titre}}</h2>
            </div>
            <div>
                <p>Date de sortie : <a href="./annee">{{film.annee}}</a></p>
            </div>
            <div>
                <p>
                De : <a href="./realisateur">{{film.realisateur}}</a>
                </p>
            </div>
            <div>
                <p>Avec :  <a href="./acteur">{{film.acteur}}</a></p>
            
            </div>
            <div>
                <p>Genre : {{film.genre}}
                </p>
            </div>
            <div>
                <p>Synopsis : {{film.description}}</p>
            </div>
            <div>
               <p class="showBandeAnnonce">Voir la bande annonce</p>
               <p class="hideBandeAnnonce">Cacher la bande annonce</p>
            </div> 

        </section>
    </div>
       <div class="container bande_annonce">
        <iframe width="560" height="315" src="{{film.bande_annonce}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% endfor %}
  

{%  endblock %}

{% block menugenre %}
             <section class="container-fluid d-flex justify-content-center affichage_genre row m-0" >
                {% for genre in genres %}
                <a href="films/genre/{{genre.id}}">{{genre.type}}</a>
                {% endfor %}
            </section>
            <section class="container-fluid d-flex justify-content-center affichage_genre_mobile row" >
                <div class="dropdown d-flex justify-content-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Retrouvez vos films par genre
                    </button>
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenu2">
                        {% for genre in genres %}
                            <a href="films/genre/{{genre.id}}" class="row col-12">{{genre.type}}</a>
                        {# <button class="dropdown-item" type="button">Action</button> #}
                        {% endfor %}
                    </div>
                </div>
            </section>
{%  endblock %}
  